<?xml version='1.0'?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
<Fragment>
	<!--
	Executes a custom exe
	Executed: deferred = custom action runs in-script
	Return: ignore = Indicates that the custom action will run synchronously and the return code will not be checked
	Impersonate: use user context of the installing user when executing this custom action
	-->
	<CustomAction Id="LaunchNotepadPlusPlus" Directory="INSTALLFOLDER" ExeCommand="C:\Program Files\Notepad++\notepad++.exe" Execute="deferred" Return="ignore" Impersonate="no" />
	<!--
	Create custom action project for wix 4
	Reference project
	add method name in DllEntry
	Return: check = Indicates that the custom action will run synchronously and the return code will be checked
	-->
	<Binary Id='CustomActionsDll' SourceFile="CustomAction.CA.dll" />
	<CustomAction Id="CustomAction" DllEntry="CustomAction1" Execute="immediate" Return="check" Impersonate="no" BinaryRef="CustomActionsDll" />
 </Fragment>
</Wix>
